.Rproj.user
.Rhistory
.RData
.Ruserdata
CS555/L11/~$NEWLecture 11_One and Two-Sample Test of Proportion(1).pptx
CS575/VM/CS575_JDong/CS575_JDong.vdi
CS575/VM/ubuntu-22.04.3-desktop-amd64.iso
CS622/HW/JDong_HW1.zip
CS622/HW/JDong_HW1/HW - JDong_HW1_src_donkeykongobj_Barrel.java - Eclipse IDE 2024-01-29 08-57-32.mp4
CS622/HW/JDong_HW2/Indiegogo_2023-09-15T20_40_31_339Z.json
CS622/HW/JDong_HW2/Indiegogo_2023-10-17T11_11_05_408Z.json
CS622/HW/JDong_HW2/Indiegogo_2023-11-17T20_40_31_433Z.json
CS622/HW/JDong_HW2/Indiegogo_2023-12-15T20_40_32_423Z.json
CS622/HW/JDong_HW2/Indiegogo_2024-01-15T14_13_29_668Z.json
CS622/HW/JDong_HW2/mergedIndiegogo.txt
CS622/HW/JDong_HW2.zip
CS622/HW/JDong_HW2/HW_2_JDong.mp4
CS767/HW/HW1/JiankunDong_767_HW1.mp4
CS767/HW/HW1/JDong_HW1.zip
*.zip
*.mp4
CS767/HW/HW1/JiankunDong_767_HW1.mp4
CS767/HW/HW1/JDong_HW1.zip
CS622/HW/JDong_HW3/mergedIndiegogo.txt
*.JPEG
*.h5
/android_projects/ObjectDetection/app/build
android_projects/ObjectDetection/app/src/main/assets/best.torchscript.ptl
android_projects/ObjectDetection/app/src/main/assets/best.torchscript
android_projects/ObjectDetection/app/src/main/assets/old_best.torchscript
/masterthesis/git_ignores
/masterthesis/yolov5
/masterthesis/yolov7
.apk
*.apk
/android_projects/yolonetworks
/masterthesis/GymMate
