.Rproj.user
.Rhistory
.RData
.Ruserdata
CS555/L11/~$NEWLecture 11_One and Two-Sample Test of Proportion(1).pptx
CS575/VM/CS575_JDong/CS575_JDong.vdi
CS575/VM/ubuntu-22.04.3-desktop-amd64.iso
CS622/HW/JDong_HW1.zip
CS622/HW/JDong_HW1/HW - JDong_HW1_src_donkeykongobj_Barrel.java - Eclipse IDE 2024-01-29 08-57-32.mp4
CS622/HW/JDong_HW2/Indiegogo_2023-09-15T20_40_31_339Z.json
CS622/HW/JDong_HW2/Indiegogo_2023-10-17T11_11_05_408Z.json
CS622/HW/JDong_HW2/Indiegogo_2023-11-17T20_40_31_433Z.json
CS622/HW/JDong_HW2/Indiegogo_2023-12-15T20_40_32_423Z.json
CS622/HW/JDong_HW2/Indiegogo_2024-01-15T14_13_29_668Z.json
CS622/HW/JDong_HW2/mergedIndiegogo.txt
CS622/HW/JDong_HW2.zip
CS622/HW/JDong_HW2/HW_2_JDong.mp4
CS767/HW/HW1/JiankunDong_767_HW1.mp4
CS767/HW/HW1/JDong_HW1.zip
*.zip
*.mp4
CS767/HW/HW1/JiankunDong_767_HW1.mp4
CS767/HW/HW1/JDong_HW1.zip
CS622/HW/JDong_HW3/mergedIndiegogo.txt
*.JPEG
*.h5
/android_projects/ObjectDetection/app/build
android_projects/ObjectDetection/app/src/main/assets/best.torchscript.ptl
android_projects/ObjectDetection/app/src/main/assets/best.torchscript
android_projects/ObjectDetection/app/src/main/assets/old_best.torchscript
/masterthesis/git_ignores
/masterthesis/yolov5
/masterthesis/yolov7
.apk
*.apk
/android_projects/yolonetworks
/masterthesis/GymMate
*.aab
/android_projects/ObjectDetection/opencv/
/android_projects/ObjectDetection/opencv
android_projects/ObjectDetection/opencv/.cxx/Debug/3n45693s/arm64-v8a/.cmake/api/v1/reply/index-2024-07-30T18-35-58-0147.json
android_projects/ObjectDetection/opencv/.cxx/Debug/3n45693s/arm64-v8a/.ninja_deps
android_projects/ObjectDetection/opencv/.cxx/Debug/3n45693s/arm64-v8a/.ninja_log
android_projects/ObjectDetection/opencv/.cxx/Debug/3n45693s/arm64-v8a/android_gradle_build.json
android_projects/ObjectDetection/opencv/.cxx/Debug/3n45693s/arm64-v8a/android_gradle_build_mini.json
android_projects/ObjectDetection/opencv/.cxx/Debug/3n45693s/arm64-v8a/CMakeFiles/CMakeOutput.log
android_projects/ObjectDetection/opencv/.cxx/Debug/3n45693s/arm64-v8a/configure_fingerprint.bin
android_projects/ObjectDetection/opencv/.cxx/Debug/3n45693s/arm64-v8a/metadata_generation_command.txt
android_projects/ObjectDetection/opencv/.cxx/Debug/3n45693s/arm64-v8a/prefab_config.json
android_projects/ObjectDetection/opencv/.cxx/Debug/3n45693s/hash_key.txt
android_projects/ObjectDetection/opencv/.cxx/Debug/3n45693s/x86/.cmake/api/v1/reply/index-2024-07-30T18-35-22-0276.json
android_projects/ObjectDetection/opencv/.cxx/Debug/3n45693s/x86/.ninja_log
android_projects/ObjectDetection/opencv/.cxx/Debug/3n45693s/x86/android_gradle_build.json
android_projects/ObjectDetection/opencv/.cxx/Debug/3n45693s/x86/android_gradle_build_mini.json
android_projects/ObjectDetection/opencv/.cxx/Debug/3n45693s/x86/CMakeFiles/CMakeOutput.log
android_projects/ObjectDetection/opencv/.cxx/Debug/3n45693s/x86/configure_fingerprint.bin
android_projects/ObjectDetection/opencv/.cxx/Debug/3n45693s/x86/metadata_generation_command.txt
android_projects/ObjectDetection/opencv/.cxx/Debug/3n45693s/x86/prefab_config.json
android_projects/ObjectDetection/opencv/.cxx/RelWithDebInfo/6de584v5/hash_key.txt
android_projects/ObjectDetection/opencv/.cxx/RelWithDebInfo/6de584v5/x86/.cmake/api/v1/reply/index-2024-07-30T18-38-55-0828.json
android_projects/ObjectDetection/opencv/.cxx/RelWithDebInfo/6de584v5/x86/.ninja_log
android_projects/ObjectDetection/opencv/.cxx/RelWithDebInfo/6de584v5/x86/android_gradle_build.json
android_projects/ObjectDetection/opencv/.cxx/RelWithDebInfo/6de584v5/x86/android_gradle_build_mini.json
android_projects/ObjectDetection/opencv/.cxx/RelWithDebInfo/6de584v5/x86/CMakeFiles/CMakeOutput.log
android_projects/ObjectDetection/opencv/.cxx/RelWithDebInfo/6de584v5/x86/configure_fingerprint.bin
android_projects/ObjectDetection/opencv/.cxx/RelWithDebInfo/6de584v5/x86/metadata_generation_command.txt
android_projects/ObjectDetection/opencv/.cxx/RelWithDebInfo/6de584v5/x86/prefab_config.json
android_projects/ObjectDetection/opencv/build.gradle
android_projects/ObjectDetection/opencv/build/generated/source/buildConfig/debug/org/opencv/BuildConfig.java
android_projects/ObjectDetection/opencv/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/AndroidManifest.xml
android_projects/ObjectDetection/opencv/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/output-metadata.json
android_projects/ObjectDetection/opencv/build/intermediates/aar_metadata/debug/writeDebugAarMetadata/aar-metadata.properties
android_projects/ObjectDetection/opencv/build/intermediates/compile_symbol_list/debug/generateDebugRFile/R.txt
android_projects/ObjectDetection/opencv/build/intermediates/cxx/Debug/3n45693s/logs/arm64-v8a/build_command_opencv_jni_shared.bat
android_projects/ObjectDetection/opencv/build/intermediates/cxx/Debug/3n45693s/logs/arm64-v8a/build_model.json
android_projects/ObjectDetection/opencv/build/intermediates/cxx/Debug/3n45693s/logs/arm64-v8a/metadata_generation_record.json
android_projects/ObjectDetection/opencv/build/intermediates/cxx/Debug/3n45693s/logs/x86/build_model.json
android_projects/ObjectDetection/opencv/build/intermediates/cxx/Debug/3n45693s/logs/x86/metadata_generation_record.json
android_projects/ObjectDetection/opencv/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
android_projects/ObjectDetection/opencv/build/intermediates/incremental/debug/packageDebugResources/merged.dir/values/values.xml
android_projects/ObjectDetection/opencv/build/intermediates/incremental/debug/packageDebugResources/merger.xml
android_projects/ObjectDetection/opencv/build/intermediates/local_only_symbol_list/debug/parseDebugLocalResources/R-def.txt
android_projects/ObjectDetection/opencv/build/intermediates/manifest_merge_blame_file/debug/processDebugManifest/manifest-merger-blame-debug-report.txt
android_projects/ObjectDetection/opencv/build/intermediates/merged_manifest/debug/processDebugManifest/AndroidManifest.xml
android_projects/ObjectDetection/opencv/build/intermediates/packaged_res/debug/packageDebugResources/values/values.xml
android_projects/ObjectDetection/opencv/build/intermediates/prefab_package_header_only/prefab_publication.json/debug
android_projects/ObjectDetection/opencv/build/intermediates/prefab_package_header_only/prefab_publication.json/release
android_projects/ObjectDetection/opencv/build/intermediates/symbol_list_with_package_name/debug/generateDebugRFile/package-aware-r.txt
android_projects/ObjectDetection/opencv/build/outputs/logs/manifest-merger-debug-report.txt
