*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.mp4
*.JPEG
*.h5
*.apk
*.apk
*.aab
*.zip
masterthesis/git_ignores
*.iso
CS622/HW/JDong_HW2/Indiegogo_2024-01-15T14_13_29_668Z.json
CS622/HW/JDong_HW2/Indiegogo_2023-12-15T20_40_32_423Z.json
CS622/HW/JDong_HW2/Indiegogo_2023-11-17T20_40_31_433Z.json
CS622/HW/JDong_HW2/Indiegogo_2023-10-17T11_11_05_408Z.json
CS622/HW/JDong_HW2/Indiegogo_2023-09-15T20_40_31_339Z.json
*.vdi
/masterthesis/yolov7
/masterthesis/yolov5
CS622/HW/JDong_HW3/mergedIndiegogo.txt
CS622/HW/JDong_HW2/mergedIndiegogo.txt
